.navbar
{
  background-color: rgba(76, 82, 168, 0.678);
  a
  {
  text-decoration: none;
  font-size: 1.3rem;
    img
    {
      width: 60px;
      background-color: white;
      border-radius: 15px;

    }
  }
  .navbar-brand
   {
     font-size: 1.5rem !important;
     font-weight: 700 !important;
   }
   .nav-link
   {
    background-color: rgba(28, 13, 63, 0.13);
    // border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 20px ;
   }
   .dropdown
   {
     margin-right: 5rem;
      .dropdown-item:hover
      {
        background-color: rgba(50, 49, 100, 0.705);
        color: white;
      }
   }
   .btColor
   {
     background-color: rgba(50, 49, 100, 0.705);
     color: white;
     select:focus, button:focus{
      outline: none;
     }
   }

}

