#home
{
 background-color: #050b1d;
 color: white;
}
#home h2
{
  color: white;
}
.vote
{
  position: absolute;
  top: 1px;
  left:0.8%;
  background-color: #f0e32a;
  width: 18%;
  font-weight: 900;
  color: #050b1d;
  // box-shadow: #050b1d 3px 5px;
}

